<h1>Edit specification</h1>

<% fields_for(@specification) do |f| %>
  <%= f.error_messages %> 

  <%= render :partial => 'edit_sliced_table', :locals => {:elements => MAIN_TEXT_FIELDS(), :slice_size =>4, :f =>f}  %>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :size=>"100x5" %>
  </p>
  <table><tr>
  <td>
    <%= f.label :hull_material %><br />
    <%= hull_material_select %>
  </td>
  <td>
    <%= f.label :type %><br />
    <%= yacht_type_select %>
  </td>
  </tr></table>

  <table><tr>
  <td>
    <%= f.label :length_units %><br />
    <%= length_units_select %>
  </td>
  <td>
    <%= f.label :weight_units %><br />
    <%= weight_units_select %>
  </td>
  <td>
    <%= f.label :speed_units %><br />
    <%= speed_units_select %>
  </td>
  <td>
    <%= f.label :volume_units %><br />
    <%= volume_units_select %>
  </td>
  </tr></table>
  <%= render :partial => 'edit_sliced_table', :locals => {:elements => LENGTHS(), :slice_size =>4, :f =>f}  %>
  <%= render :partial => 'edit_sliced_table', :locals => {:elements => WEIGHTS(), :slice_size =>4, :f =>f}  %>
  <%= render :partial => 'edit_sliced_table', :locals => {:elements => VOLUMES(), :slice_size =>4, :f =>f}  %>
  <%= render :partial => 'edit_sliced_table', :locals => {:elements => SPEEDS(), :slice_size =>4, :f =>f}  %>
  <%= render :partial => 'edit_sliced_table', :locals => {:elements => ENGINES(), :slice_size =>4, :f =>f}  %>
  <p>
    <%= f.label :engine_fuel %><br />
    <%= fuel_select %>
  </p>

<% end %>

