<h1>Edit listing</h1>

<% fields_for(@listing) do |f| %>
  <%= f.error_messages %>
  <table><tr><td>
    <%= f.label :central %><br />
    <%= f.check_box :central %>
  </td>
  <td>
    <%= f.label :status %><br />
    <%= status_select %>
  </td></tr></table>
<% end %>
