<h2>Yacht</h2>
<% fields_for(@yacht) do |f| %>
  <%= f.error_messages %>

  <table><tr><td>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </td>
  <td>
    <%= f.label :new %><br />
    <%= f.check_box :new %>
  </td></tr></table>
<% end %>

