<h1>Edit price</h1>

<% fields_for(@price) do |f| %>
  <%= f.error_messages %>
  <table><tr><td>
    <%= f.label :currency %><br />
    <%= currency_select %>
  </td>
  <td>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </td></tr></table>
<% end %>
