<h1>New location</h1>

<% fields_for(@location) do |f| %>
  <%= f.error_messages %> 
  <table><tr><td>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </td>
  <td>
    <%= f.label :state %><br />
    <%= state_select %>
  </td>
  <td>
    <%= f.label :country %><br />
    <%= country_select %>
  </td></tr></table>
<% end %>

