<p>
  <b>Manufacturer:</b>
  <%=h @specification.manufacturer %>
</p>

<p>
  <b>Model:</b>
  <%=h @specification.model %>
</p>

<p>
  <b>Specification class:</b>
  <%=h @specification.specification_class_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @specification.description %>
</p>

<p>
  <b>Year:</b>
  <%=h @specification.year %>
</p>

<p>
  <b>Type:</b>
  <%=h @specification.type_id %>
</p>

<p>
  <b>Length:</b>
  <%=h @specification.length %>
</p>

<p>
  <b>Lwl:</b>
  <%=h @specification.lwl %>
</p>

<p>
  <b>Loa:</b>
  <%=h @specification.loa %>
</p>

<p>
  <b>Beam:</b>
  <%=h @specification.beam %>
</p>

<p>
  <b>Min draft:</b>
  <%=h @specification.min_draft %>
</p>

<p>
  <b>Max draft:</b>
  <%=h @specification.max_draft %>
</p>

<p>
  <b>Bridge clearance:</b>
  <%=h @specification.bridge_clearance %>
</p>

<p>
  <b>Displacement:</b>
  <%=h @specification.displacement %>
</p>

<p>
  <b>Ballast:</b>
  <%=h @specification.ballast %>
</p>

<p>
  <b>Cruise speed:</b>
  <%=h @specification.cruise_speed %>
</p>

<p>
  <b>Max speed:</b>
  <%=h @specification.max_speed %>
</p>

<p>
  <b>Length units:</b>
  <%=h @specification.length_units_id %>
</p>

<p>
  <b>Weight units:</b>
  <%=h @specification.weight_units_id %>
</p>

<p>
  <b>Speed units:</b>
  <%=h @specification.speed_units_id %>
</p>

<p>
  <b>Volume units:</b>
  <%=h @specification.volume_units_id %>
</p>

<p>
  <b>Hull material:</b>
  <%=h @specification.hull_material_id %>
</p>

<p>
  <b>Designer:</b>
  <%=h @specification.designer %>
</p>

<p>
  <b>Fuel tank capacity:</b>
  <%=h @specification.fuel_tank_capacity %>
</p>

<p>
  <b>Water tank capacity:</b>
  <%=h @specification.water_tank_capacity %>
</p>

<p>
  <b>Holding tank capacity:</b>
  <%=h @specification.holding_tank_capacity %>
</p>

<p>
  <b>Engine manufacturer:</b>
  <%=h @specification.engine_manufacturer %>
</p>

<p>
  <b>Engine model:</b>
  <%=h @specification.engine_model %>
</p>

<p>
  <b>Engine fuel:</b>
  <%=h @specification.engine_fuel_id %>
</p>

<p>
  <b>Engine horsepower:</b>
  <%=h @specification.engine_horsepower %>
</p>

<p>
  <b>Engine year:</b>
  <%=h @specification.engine_year %>
</p>

<p>
  <b>Engine hours:</b>
  <%=h @specification.engine_hours %>
</p>

<p>
  <b>Number of engines:</b>
  <%=h @specification.number_of_engines %>
</p>
