  <%= render :partial => 'show_sliced_table', :locals => {:elements => MAIN_TEXT_FIELDS(), :slice_size =>4, :specification=>@specification }  %>

  <p>
    <b>Hull material:</b>
    <%=h @specification.hull_material %>
  </p>
  <p>
    <b>Type:</b>
    <%=h @specification.type %>
  </p>
  <p>
    <b>Length units:</b>
    <%=h @specification.length_units %>
  </p>
  <p>
    <b>Weight units:</b>
    <%=h @specification.weight_units %>
  </p>
  <p>
    <b>Speed units:</b>
    <%=h @specification.speed_units %>
  </p>
  <p>
    <b>Volume units:</b>
    <%=h @specification.volume_units %>
  </p>
  <%= render :partial => 'show_sliced_table', :locals => {:elements => LENGTHS(), :slice_size =>4, :specification=>@specification }  %>
  <%= render :partial => 'show_sliced_table', :locals => {:elements => WEIGHTS(), :slice_size =>4, :specification=>@specification  }  %>
  <%= render :partial => 'show_sliced_table', :locals => {:elements => VOLUMES(), :slice_size =>4, :specification=>@specification  }  %>
  <%= render :partial => 'show_sliced_table', :locals => {:elements => SPEEDS(), :slice_size =>4, :specification=>@specification  }  %>
  <%= render :partial => 'show_sliced_table', :locals => {:elements => ENGINES(), :slice_size =>4, :specification=>@specification  }  %>
  <p>
    <b> Engine fuel:</b>
    <%= h @specification.fuel %>
  </p>
