<% form_for(@listing) do |f| %>
  <%= f.error_messages %>

  <table>
  <tr>
  <td>
    <%= f.label :price, "Price (dollars)" %><br />
    <%= f.text_field :price %>
  </td>
  <td>
    <%= f.label :yacht_name, 'Yacht Name' %><br />
    <%= f.text_field :yacht_name %>
  </td>
  <td>
    <%= f.label :yacht_location, 'Location (city, state, country)' %><br />
    <%= f.text_field :yacht_location %>
  </td>
  </tr>

  <tr>
  <td>
    <%= f.label :yacht_specification_length, 'Length (feet)' %><br />
    <%= f.text_field :yacht_specification_length %>
  </td>
  <td>
    <%= f.label :yacht_specification_manufacturer, 'Manufacturer' %><br />
    <%= f.text_field :yacht_specification_manufacturer %>
  </td>
  <td>
    <%= f.label :yacht_specification_model, 'Model' %><br />
    <%= f.text_field :yacht_specification_model %>
  </td>
  <td>
    <%= f.label :yacht_specification_year, 'Year' %><br />
    <%= f.text_field :yacht_specification_year %>
  </td>
  </tr>

  <tr>
  <td>
    <%= f.label :yacht_specification_material, 'Hull Material (ex. wood)' %><br />
    <%= f.text_field :yacht_specification_material %>
  </td>
  <td>
    <%= f.label :yacht_specification_fuel, 'Fuel Type (ex. gas)' %><br />
    <%= f.text_field :yacht_specification_fuel %>
  </td>
  <td>
    <%= f.label :yacht_specification_number_of_engines, 'Number of Engines (0-4)' %><br />
    <%= f.text_field :yacht_specification_number_of_engines %>
  </td>
  </tr>
</table>

  <div style="text-align: left; clear: both;">
  <p class="button">
    <%= f.submit "Update" %>
  </p>
  </div>
<% end %>

<div style="text-align: left; clear: both;">
<%= link_to 'Show', @listing %> |
<%= link_to 'Back', listings_path %>
</div>

