<h1>Listing listings</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th>Price</th>
    <th>Yacht</th>
  </tr>

<% for listing in @listings %>
  <tr>
    <td><%= link_to 'Accommodations', yacht_accommodations_path(listing.yacht) %></td>
    <td><%= link_to 'Pictures', yacht_pictures_path(listing.yacht) %></td>
    <td><%=h listing.current_price.to_s %></td>
    <td><%=h listing.yacht.to_s %></td>
    <td><%= link_to 'Show', listing %></td>
    <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
    <td><%= link_to 'Destroy', listing, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New listing', new_listing_path %>
