<h1>New listing</h1>

<% form_for(@listing) do |lf| %>
  <%= lf.error_messages %>
  
  <p>
    <%= lf.label :central %><br />
    <%= lf.check_box :central %>
  </p>

  <h1>New yacht</h1>

  <% fields_for(@yacht) do |yf| %>
    <%= yf.error_messages %>

    <p>
      <%= yf.label :name %><br />
      <%= yf.text_field :name %>
    </p>
    <p>
      <%= yf.label :new %><br />
      <%= yf.check_box :new %>
    </p>
    <p>
      <%= yf.label :location_id %><br />
      <%= yf.text_field :location_id %>
    </p>

    <p>
      <%= yf.label :specification %><br />
      <%= collection_select(:yacht, :specification_id, Specification.find(:all), :id, :id) %>
    </p>
  <% end %>

  <p>
    <%= lf.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', listings_path %>
