<div style="clear: both"></div>

<center><b><i><%= @listing.yacht_name.capitalize %></i></b>
<div>
<% @photos.each do |p| %>
  <span> <%= link_to image_tag(p.public_filename(:thumb)), p.public_filename %> </span>
<% end %>  
</div>
</center>

<div id="left_content">
<ul>
<% @listing.specs.each do |spec| -%>
  <% if @listing.send(spec.to_sym).to_s != "" -%>
    <li><%= better_name(spec) %>: <%=h @listing.send(spec.to_sym).to_s %></li>
  <% end -%>
<% end -%>
</ul>
</div>

<div id="right_content">
<% @details.each do |d| %>
  <p>
    <b><%= h d.title %>:</b><br/>
    <%=h d.content %>
  </p>
<% end %>
</div>

<div style="text-align: left; clear: both">
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
</div>
