<div id="main_content">
<p>
  <b>Contact:</b>
  <%=h @listing.contact %>
</p>

<p>
  <b>Price:</b>
  <%=h @listing.price %>
</p>

<p>
  <b>Name:</b>
  <%=h @listing.yacht_name %>
</p>

<p>
  <b>New:</b>
  <%=h @listing.yacht_new %>
</p>

<p>
  <b>Location:</b>
  <%=h @listing.yacht_location %>
</p>

<p>
  <b>Length:</b>
  <%=h @listing.yacht_specification_length %>
</p>

<p>
  <b>Manufacturer:</b>
  <%=h @listing.yacht_specification_manufacturer %>
</p>

<p>
  <b>Model:</b>
  <%=h @listing.yacht_specification_model %>
</p>

<p>
  <b>Year:</b>
  <%=h @listing.yacht_specification_year %>
</p>

<p>
  <b>Designer:</b>
  <%=h @listing.yacht_specification_designer %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
</div>
