<div id="edit_accommodation_<%= edit.id %>">
<hr />
<% fields_for(edit, :index=> edit.id ) do |f| %>
  <%= f.error_messages %>
  <%= link_to_remote "Destroy", :url=>yacht_accommodation_path(edit.yacht.id, edit.id), :method=>:delete, :confirm=>"Are you sure?", :href=>yacht_accommodation_path(edit.yacht.id, edit.id), :success=>"$('accommodation_list').removeChild($('edit_accommodation_#{edit.id}'))" %>
  <p>
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :size=>"80x5" %>
  </p>

  <table><tr><td>
    <%= f.label :left %><br />
    <%= f.text_area :left, :size=>"40x5" %>
  </td>
  <td>
    <%= f.label :right %><br />
    <%= f.text_area :right, :size=>"40x5" %>
  </td></tr></table>
<% end %>
</div>
