<h1>Editing accommodation</h1>

<% form_for(:accommodation, @accommodation, :url=> yacht_accommodation_path(@accommodation.yacht.id, @accommodation.id), :html =>{:method=>:put, :class => "edit_accommmodation", :id => "edit_accommodation_#{@accommodation.id}"}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', yacht_accommodation_path(@accommodation.yacht.id, @accommodation.id) %> |
<%= link_to 'Back', yacht_accommodations_path %>
