<p class="emphasis">Create a free account to easily and securely manage your yacht information.</p>
<table>

<tr>
<td><%= image_tag 'owner.gif' %></td>
<td><%= link_to 'Owners', signup_path(:info => "owners") %><br/>
  Advertise your yacht worldwide on <%= link_to 'websites', widgets_path %> of participating brokerages.
</td>
</tr>

<tr>
<td><%= image_tag 'broker.gif' %></td>
<td><%= link_to 'Brokers', signup_path(:info => "brokers") %><br/>
  Build advertising partnerships with owners.
</td>
</tr>

<tr>
<td><%= image_tag 'developer.gif' %></td>
<td><%= link_to 'Developers', signup_path(:info => "developers") %><br/>
  Transfer data in a standard format with other multiple listing systems.
</td>
</tr>
</table>
