<div id="left_content">
<p class="emphasis">Create a free account to better manage your yacht information</p>
<table>

<tr>
<td><%= image_tag 'owner.gif' %></td>
<td><%= link_to 'Owners', owners_path %><br/>
    Advertise your yacht worldwide for free on the 
    websites of participating brokerages.
</td>
</tr>

<tr>
<td><%= image_tag 'broker.gif' %></td>
<td><%= link_to 'Brokers', brokers_path %><br/>
  Find and form advertising partnerships with owners.
  Easily enter and keep track of your listings.  
</td>
</tr>

<tr>
<td><%= image_tag 'developer.gif' %></td>
<td><%= link_to 'Developers', developers_path %><br/>
  Push and pull data in a standard format with other
  multiple listing systems.
</td>
</tr>
</table>

</div>

<div id="right_content">
<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
<p><%= link_to '<< Cancel', login_path %></p>
</div>
