<div id="left_content">
<p class="emphasis">Easy and free yacht information management.</p>
<table>
<tr>
<td><%= image_tag 'wolf.gif' %></td>
<td>
  <b>Photos</b><br/>
  Quickly upload up to ten photos at a time.  We'll resize them into
  three different sizes.
</td>
</tr>
<td><%= image_tag 'tools.gif' %></td>
<td>
  <b>Layouts</b><br/>
  Auto-load in specifications and layouts from yachtlayouts.com.
</td>
</tr>
<tr>
<td><%= image_tag 'transfer.gif' %></td>
<td>
  <b>Transfers</b><br/>
  Transfer to compliant Yacht Transmision Standard systems.
</td>
</tr>

<tr>
<td><%= image_tag 'seashell.gif' %></td>
<td>
  <b>Widget</b><br/>
  Embed a free widget in your personal web page to display your listings.
</td>
</tr>

</table>
</div>

<div id="right_content">
<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p class="button"><%= submit_tag 'Sign up' %></p>
<% end -%>
<p><%= link_to '<< Cancel', login_path %></p>
</div>
