<h1>Listing specifications</h1>

<table>
  <tr>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Specification class</th>
    <th>Description</th>
    <th>Year</th>
    <th>Type</th>
    <th>Length</th>
    <th>Lwl</th>
    <th>Loa</th>
    <th>Beam</th>
    <th>Min draft</th>
    <th>Max draft</th>
    <th>Bridge clearance</th>
    <th>Displacement</th>
    <th>Ballast</th>
    <th>Cruise speed</th>
    <th>Max speed</th>
    <th>Length units</th>
    <th>Weight units</th>
    <th>Speed units</th>
    <th>Volume units</th>
    <th>Hull material</th>
    <th>Designer</th>
    <th>Fuel tank capacity</th>
    <th>Water tank capacity</th>
    <th>Holding tank capacity</th>
    <th>Engine manufacturer</th>
    <th>Engine model</th>
    <th>Engine fuel</th>
    <th>Engine horsepower</th>
    <th>Engine year</th>
    <th>Engine hours</th>
    <th>Number of engines</th>
  </tr>

<% for specification in @specifications %>
  <tr>
    <td><%=h specification.manufacturer %></td>
    <td><%=h specification.model %></td>
    <td><%=h specification.specification_class_id %></td>
    <td><%=h specification.description %></td>
    <td><%=h specification.year %></td>
    <td><%=h specification.type %></td>
    <td><%=h specification.length %></td>
    <td><%=h specification.lwl %></td>
    <td><%=h specification.loa %></td>
    <td><%=h specification.beam %></td>
    <td><%=h specification.min_draft %></td>
    <td><%=h specification.max_draft %></td>
    <td><%=h specification.bridge_clearance %></td>
    <td><%=h specification.displacement %></td>
    <td><%=h specification.ballast %></td>
    <td><%=h specification.cruise_speed %></td>
    <td><%=h specification.max_speed %></td>
    <td><%=h specification.length_units_id %></td>
    <td><%=h specification.weight_units_id %></td>
    <td><%=h specification.speed_units_id %></td>
    <td><%=h specification.volume_units_id %></td>
    <td><%=h specification.hull_material_id %></td>
    <td><%=h specification.designer %></td>
    <td><%=h specification.fuel_tank_capacity %></td>
    <td><%=h specification.water_tank_capacity %></td>
    <td><%=h specification.holding_tank_capacity %></td>
    <td><%=h specification.engine_manufacturer %></td>
    <td><%=h specification.engine_model %></td>
    <td><%=h specification.engine_fuel_id %></td>
    <td><%=h specification.engine_horsepower %></td>
    <td><%=h specification.engine_year %></td>
    <td><%=h specification.engine_hours %></td>
    <td><%=h specification.number_of_engines %></td>
    <td><%= link_to 'Show', specification %></td>
    <td><%= link_to 'Edit', edit_specification_path(specification) %></td>
    <td><%= link_to 'Destroy', specification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New specification', new_specification_path %>
