<h1>New specification</h1>

<% form_for(@specification) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer %>
  </p>
  <p>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.label :specification_class_id %><br />
    <%= f.text_field :specification_class_id %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :length %><br />
    <%= f.text_field :length %>
  </p>
  <p>
    <%= f.label :lwl %><br />
    <%= f.text_field :lwl %>
  </p>
  <p>
    <%= f.label :loa %><br />
    <%= f.text_field :loa %>
  </p>
  <p>
    <%= f.label :beam %><br />
    <%= f.text_field :beam %>
  </p>
  <p>
    <%= f.label :min_draft %><br />
    <%= f.text_field :min_draft %>
  </p>
  <p>
    <%= f.label :max_draft %><br />
    <%= f.text_field :max_draft %>
  </p>
  <p>
    <%= f.label :bridge_clearance %><br />
    <%= f.text_field :bridge_clearance %>
  </p>
  <p>
    <%= f.label :displacement %><br />
    <%= f.text_field :displacement %>
  </p>
  <p>
    <%= f.label :ballast %><br />
    <%= f.text_field :ballast %>
  </p>
  <p>
    <%= f.label :cruise_speed %><br />
    <%= f.text_field :cruise_speed %>
  </p>
  <p>
    <%= f.label :max_speed %><br />
    <%= f.text_field :max_speed %>
  </p>
  <p>
    <%= f.label :length_units_id %><br />
    <%= f.text_field :length_units_id %>
  </p>
  <p>
    <%= f.label :weight_units_id %><br />
    <%= f.text_field :weight_units_id %>
  </p>
  <p>
    <%= f.label :speed_units_id %><br />
    <%= f.text_field :speed_units_id %>
  </p>
  <p>
    <%= f.label :volume_units_id %><br />
    <%= f.text_field :volume_units_id %>
  </p>
  <p>
    <%= f.label :hull_material_id %><br />
    <%= f.text_field :hull_material_id %>
  </p>
  <p>
    <%= f.label :designer %><br />
    <%= f.text_field :designer %>
  </p>
  <p>
    <%= f.label :fuel_tank_capacity %><br />
    <%= f.text_field :fuel_tank_capacity %>
  </p>
  <p>
    <%= f.label :water_tank_capacity %><br />
    <%= f.text_field :water_tank_capacity %>
  </p>
  <p>
    <%= f.label :holding_tank_capacity %><br />
    <%= f.text_field :holding_tank_capacity %>
  </p>
  <p>
    <%= f.label :engine_manufacturer %><br />
    <%= f.text_field :engine_manufacturer %>
  </p>
  <p>
    <%= f.label :engine_model %><br />
    <%= f.text_field :engine_model %>
  </p>
  <p>
    <%= f.label :engine_fuel_id %><br />
    <%= f.text_field :engine_fuel_id %>
  </p>
  <p>
    <%= f.label :engine_horsepower %><br />
    <%= f.text_field :engine_horsepower %>
  </p>
  <p>
    <%= f.label :engine_year %><br />
    <%= f.text_field :engine_year %>
  </p>
  <p>
    <%= f.label :engine_hours %><br />
    <%= f.text_field :engine_hours %>
  </p>
  <p>
    <%= f.label :number_of_engines %><br />
    <%= f.text_field :number_of_engines %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', specifications_path %>
