<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p><%= current_account.login %></p>
<p><%= current_account.password %></p>
<%= link_to 'Accounts', accounts_path %>
<%= link_to 'MLS\'s', multiple_listing_systems_path %>
<%= link_to 'Listings', listings_path %>
<%= link_to 'Fields', fields_path %>
<%= link_to 'Accommodations', accommodations_path %>
<%= link_to 'Pictures', pictures_path %>
