<div id="left_content">
<% form_for(@widget) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p class="button">
    <%= f.submit "Save" %>
  </p>
<% end %>
</div>
<div id = "right_content">
<span class="emphasis">Code </span>(copy and paste this html into your page)
<hr/>
<textarea style="border: 0; background-color: white; width: 500px; height: 100px" readonly="true"><%= h @widget.code %></textarea>
</div>
<div id = "main_content" style="clear:both">
<span class="emphasis">Preveiw</span>
<hr/>
<%= @widget.code %>
</div>

