<h1>Listing yachts</h1>

<table>
  <tr>
    <th>Specification</th>
    <th>Name</th>
    <th>New</th>
    <th>Location</th>
  </tr>

<% for yacht in @yachts %>
  <tr>
    <td><%=h yacht.specification_id %></td>
    <td><%=h yacht.name %></td>
    <td><%=h yacht.new %></td>
    <td><%=h yacht.location_id %></td>
    <td><%= link_to 'Show', yacht %></td>
    <td><%= link_to 'Edit', edit_yacht_path(yacht) %></td>
    <td><%= link_to 'Destroy', yacht, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New yacht', new_yacht_path %>
