<h1>New yacht</h1>

<% form_for(@yacht) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :specification_id %><br />
    <%= f.text_field :specification_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :new %><br />
    <%= f.check_box :new %>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <%= f.text_field :location_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', yachts_path %>
