<h1>Editing picture</h1>

<% form_for(:picture, @picture, :url=> yacht_picture_path(@picture.yacht.id, @picture.id), :html =>{:method=>:put, :class => "edit_picture",:id=>"edit_picture_#{@picture.id}", :multipart=>true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :image_file %><br />
    <%= f.file_field :image_file %>
  </p>
  <p>
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>

<%= link_to 'Show', yacht_picture_path(@picture.yacht.id, @picture.id) %>
<%= link_to 'Back', yacht_pictures_path %>

