<h1>Editing picture</h1>

<% form_for(@picture, :html=> {:multipart=>true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :image_file %><br />
    <%= f.file_field :image_file %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>

<%= link_to 'Show', @picture %> |
<%= link_to 'Back', pictures_path %>
