<p>
  <b>Order:</b>
  <%=h @picture.order %>
</p>
<p>
  <b>Description:</b>
  <%=h @picture.description %>
</p>

<p>
  <b>Content type:</b>
  <%=h @picture.content_type %>
</p>

<p>
  <b>Filename:</b>
  <%=h @picture.filename %>
</p>

<p>
  <%=image_tag(@picture.public_filename)%>
</p>

<%= link_to 'Back', yacht_pictures_path %>
