<h1>Listing prices</h1>

<table>
  <tr>
    <th>Currency</th>
    <th>Value</th>
  </tr>

<% for price in @prices %>
  <tr>
    <td><%=h price.currency_id %></td>
    <td><%=h price.value %></td>
    <td><%= link_to 'Show', price %></td>
    <td><%= link_to 'Edit', edit_price_path(price) %></td>
    <td><%= link_to 'Destroy', price, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New price', new_price_path %>
