<h1>Editing upload</h1>

<% form_for(@upload) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :listing %><br />                     
    <%= collection_select(:upload, :listing_id, current_user.listings.find(:all), :id, :to_s) %> 
  </p>

  <p>
    <%= f.label :account %><br />   
    <%= collection_select(:upload, :account_id, current_user.accounts.find(:all), :id, :to_s) %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @upload %> |
<%= link_to 'Back', uploads_path %>
