<div id ="left_content">
<p>
  <b>Listing:</b>
  <%=h @upload.listing.to_s %>
</p>

<p>
  <b>Account:</b>
  <%=h @upload.account.to_s %>
</p>

<hr/>
<p>
  <%= @session.read(@upload.remote_id) %>
</p>

<%= link_to 'Edit', edit_transfer_path(@upload) %> |
<%= link_to 'Back', transfers_path %>
</div>
