<h1>New upload</h1>

<% form_for(@upload) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :listing %><br />
    <%= collection_select(:upload, :listing_id, current_user.listings.find(:all), :id, :id) %>
  </p>

  <p>
    <%= f.label :account %><br />
    <%= collection_select(:upload, :account_id, current_user.accounts.find(:all), :id, :to_s) %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', uploads_path %>
