<p>
  <b>Description:</b>
  <%=h @upload.description %>
</p>

<p>
  <b>Listing:</b>
  <%=h @upload.listing.to_s %>
</p>

<p>
  <b>Account:</b>
  <%=h @upload.account.to_s %>
</p>


<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', uploads_path %>
