<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Yacht Manager</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'swfupload' %>
  <%= stylesheet_link_tag 'mystyle' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'swfupload' %>
  <%= javascript_include_tag 'handlers' %>
</head>
<body>
<div id="head" style="background-image: url('/images/menubar.gif');">
<div id="imposedtext">yacht manager</div>
</div>
<p align="right">
<%= link_to 'Home', root_path %>
<%= link_to 'Settings', edit_user_path(current_user) %>
<%= link_to 'Logout >>', logout_path, :method => :delete %>
</p>


<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:error] %></p>

<span style="text-align: left"><%= link_to 'Listings', listings_path %></span>

<div style="clear: both;"><%= yield  %></div>

</body>
</html>
