<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Yacht Manager</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p align="right">
<%= link_to_if logged_in?, 'Home', root_path %>
<%= link_to_if logged_in?, 'Logout >>', logout_path, :method => :delete do
    end %>
</p>
<span style="background-color: pink">
<%= link_to_if logged_in?, 'Accounts', accounts_path %>
<%= link_to_if logged_in?, 'Listings', listings_path %>
<%= link_to_if logged_in?, 'Uploads', uploads_path %>
</span>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
