<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Yacht Manager</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'swfupload' %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'swfupload' %>
  <%= javascript_include_tag 'handlers' %>
</head>
<body>

<p align="right">
<%= link_to_if logged_in? && current_user.active?, 'Home', root_path do
    end %>
<%= link_to_if logged_in? && current_user.active?, 'Settings', edit_user_path(current_user) do
    end %>
<%= link_to_if logged_in? && current_user.active?, 'Logout >>', logout_path, :method => :delete do
    end %>
</p>
<span style="background-color: pink">
<%= link_to_if logged_in? && current_user.active?, 'Listings', listings_path do 
    end %>
</span>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:error] %></p>

<%= yield  %>

</body>
</html>
