<div id = "main_content">
<table>
  <tr>
    <th>MLS</th>
    <th>Login</th>
  </tr>

<% for account in @accounts %>
  <tr>
    <td><%=h account.mls_id %></td>
    <td><%=h account.login %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New account', new_account_path %>
</div>
